<h1><a class="top-link" href="index.html" style= "color:lime;">ROBOT SIGUE LÍNEAS</a></h1>
<div id="menu">
  <div class="item">
  </div>
    <div class="item"><a href="función.html" style="color:lime;">FUNCIÓN</a></div>

  <div class="item">
    <font color="lime">GALERÍA</font>
    <div class="submenu">
      <div class="subitem"><a href="fotos.html" style="color:lime;">FOTOS</a></div>
      <div class="subitem"><a href="videos.html" style="color:lime;">VIDEOS</a></div>

    </div>
  </div>


  <div class="item">
<font color="lime">VALORACIONES</font>
    <div class="submenu">
      <div class="subitem"><a href="proyecto.html" style="color:lime;">VALORACIÓN DEL PROYECTO</a></div>
      <div class="subitem"><a href="economicas.html" style="color:lime;">VALORACIONES ECONÓMICAS</a></div>
      <div class="subitem"><a href="aprendizaje.html" style="color:lime;">VALORACIÓN DE APRENDIZAJE</a></div>
    </div>
  </div>
  <div class="item"><a href="arduino.html" style="color:lime;">CÓDIGO ARDUINO</a></div>

  <div class="item"><a href="piezas.html" style="color:lime;">PIEZAS</a></div>

  <div class="item"><a href="tutorial.html" style="color:lime;">TUTORIAL</a></div>

</div>
