* { box-sizing: border-box; }

body {
  background-image: url("FONDO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0033cc;
}

.info1{
  float: left;
  color: lime;
}

#menu {
  border: thin solid lime;
  color: black;
  padding: 5px;
}
#menu:after{
display: table;
clear: both;
content: "";
}

.subitem{
padding: 50px;
border: thin solid black;
background-color: black;
width: 100%;

}

.item{
float: left;
padding: 50px;
font-size: 25px;

}

#arduino-piezas-img { float: left;  }

.item:hover .submenu{
display: block;
position: absolute;
width: auto;

}

.submenu{

display: none;
padding: 10px;
font-size: 50%;

}

h1{
  text-align: center;
  color: #fefefe;
  font-size: 80px;

}

h2{

  text-align: center;
  color: #fefefe;
  font-size: 50px;


}

.circuito{
padding: 5px;
margin-top: 0%;
background-color: black;

}

.subtitulo{
  width: 100%;
  margin-top: 4%;
  font-size: 60px;
 text-align: center;
}

.creadores{
  margin-top: 6%;
  text-align: center;
}


.piezas-zone:after{
display: table;
clear: both;
content: "";
}

.economicas{
background-color: black;
padding: 5px;
border-color: lime;

}

.proyecto {
  background-color: black;
  padding: 5px;
  border-color: lime;
}
.aprendizaje{

  background-color: black;
  padding: 5px;
  border-color: lime;
}

.tutorial{

background-color: black;
padding: 5px;
border-color: lime;
text-align: center;

}

.tutorial h2 {
color: lime;
}

.videos h2 {
  color: lime;
}

.videos {
  background-color: black;
  padding: 10px;
  text-align: center;

}

.videos video {
  width: 60%;
  height: 50%;
}

.piezas {
  background-color: black;
  padding: 5px;
  text-align: center;
}


.fotos{
background-color: black;
padding: 9px;
text-align: center;

}

.fotos h2{
color: lime;

}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#left-menu, #right-menu,	#content {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
